@{
    ViewData["Title"] = "About Us";
}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/GroupProjectDepositCatalogWebApp.styles.css" asp-append-version="true" />
</head>
<body id="grad">
	<div class="auth">
		<form name="registrationForm" class="registration-form">
			<h1 id="gray-h1">About Us</h1>
			<h3>
				<center>
					Welcome to our deposits app! We are <br><br>
					Elitsa Milusheva (F110558) <br>
					Kamelia Foteva (F109793) <br>
					Kristina Savova (F110572) <br>
					Kiril Kostov (F101519).  <br><br>
					We are four students from New Bulgarian University working in the field of coding and programming.
					Our website gives you the opportunity to discover the best deposit plans available and a lot more.
					Go check out our catalog now!
				</center>
			</h3>
		</form>
	</div>
</body>