@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="~/media/MoneyUpLogo.png" alt="MoneyUp" style="max-width: 300px;max-height:300px;width: auto;height: auto;">
    <p>A site for browsing deposits and considering investments.</p>
</div>
